/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --main--color: #008148;
  --second--color: #1e3932;
}

section {
  padding: 50px 10%;
}

*::selection {
  color: #fff;
  background: var(--main--color);
}

img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 41px rgb(14, 55, 54 /14%);
  padding: 15px 10%;
  transition: 0.2s;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: var(--second--color);
  font-weight: 600;
  text-transform: uppercase;
}

.navbar a:hover {
  color: var(--main--color);
}

#menu-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ebdbc8;
  gap: 1rem;
}

.home-text {
  flex: 1 1 17rem;
}

.home-img {
  flex: 1 1 17rem;
}

/* .home-img img {
  animation: animete 3s linear infinite;
}
@keyframes animete {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  0% {
    transform: translate(-11px, 0);
  } */

.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--second--color);
}

.home-text h1 {
  font-size: 3.1rem;
  color: var(--main--color);
  font-weight: bolder;
}

.home-text h2 {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--second--color);
  margin: 0.5rem 0 1.4rem;
  text-transform: uppercase;
}

.btn {
  padding: 7px 16px;
  border: 2px solid var(--second--color);
  border-radius: 40px;
  color: var(--main--color);
  font-weight: 600;
}

.btn:hover {
  color: #fff;
  background: var(--second--color);
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.heading span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second--color);
}

.heading h1 {
  font-size: 2rem;
  color: var(--main--color);
}

.shop-contniner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}

.shop-contniner .box {
  flex: 1 1 10rem;
  background: var(--main--color);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.shop-contniner .box .box-img {
  width: 150px;
  height: 150px;
  margin-top: -100px;
}
.box .btn {
  color: #ebdbc8;
  border: 2px solid #ebdbc8;
}
.box .btn:hover {
  color: var(--main--color) var(--second--color);
  background: #ebdbc8;
}
.shop-contniner .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stars {
  margin: 1rem 0 0.1rem;
}
.shop-contniner .box .stars .bx {
  color: #ebdbc8;
}
.shop-contniner .box h2 {
  color: #ebdbc8;
  font-size: 1.2rem;
}
.shop-contniner .box span {
  color: #ebdbc8;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}
.delivery .heading .foodpanda {
  font-size: 2rem;
  color: #d70f64;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.delivery-img,
.app-img {
  flex: 1 1 21rem;
}
.delivery-text,
.app-text {
  flex: 1 1 21rem;
}
.delivery-text h2,
.app-text h2 {
  color: var(--second--color);
  font-size: 1.2rem;
}
.delivery-text p,
.app-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}
.about {
  display: flex;
  flex-wrap: wrap;
  background: #ebdbc8;
  gap: 1.5rem;
}
.about-text {
  flex: 1 1 17rem;
}
.about-img {
  flex: 1 1 17rem;
}
.about-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}
.about-text h2 {
  color: var(--second--color);
  font-size: 1.2rem;
}
.contect {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social a {
  font-size: 27px;
  margin: 0.5rem;
}
.social a .bx {
  padding: 5px;
  color: #fff;
  background: #000000;
  border-radius: 50%;
}
.social a .bx:hover {
  color: var(--main--color);
}
.links {
  margin: 1rem 0 1rem;
}
.links a {
  font-size: 1rem;
  color: var(--second--color);
  font-weight: 500;
  padding: 1rem;
}
.links a:hover {
  color: var(--main--color);
}
.contect p {
  text-align: center;
}
@media (max-width: 1150px) {
  header {
    padding: 18px 7%;
  }
  section {
    padding: 50px 7%;
  }
  .home-text h1 {
    font-size: 3rem;
  }
  .home-text h2 {
    font-size: 1, 5rem;
  }
}
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: rgb(14, 55, 54 /14%);
    border-top: 2px solid var(--main--color);
    transition: 0.2s;
    text-align: left;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: none;
    color: var(--second--color);
  }
}

/* Login Page  */

body,
input {
  font-family: "Poppins", sans-serif;
}

.containers {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-containers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

/* .btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
} */

/* .btn:hover {
  background-color: #4d84e2;
} */
.panels-containers {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.containers:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #008148 0%, #1e3932 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
.content h2{
  text-transform: uppercase;
}
.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

/* .btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
} */

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.containers.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.containers.sign-up-mode .left-panel .image,
.containers.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.containers.sign-up-mode .signin-signup {
  left: 25%;
}

.containers.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.containers.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.containers.sign-up-mode .right-panel .image,
.containers.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.containers.sign-up-mode .left-panel {
  pointer-events: none;
}

.containers.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .containers {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .containers.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-containers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .containers:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .containers.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .containers.sign-up-mode .left-panel .image,
  .containers.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .containers.sign-up-mode .right-panel .image,
  .containers.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .containers.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .containers {
    padding: 1.5rem;
  }

  .containers:before {
    bottom: 72%;
    left: 50%;
  }

  .containers.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
